---
layout: default
title: Home
---

<div class="homeintro">
    {% include intro.html %}
</div>

<div class="homelist">
	{% for post in site.posts %}
		<div class="homelistitem {{post.category}} {% if post.external-url != nil %}external-url{% endif %}">
		  <span class="homelistdate">{{ post.date | date: "%d %b %Y" }}</span><span class="homelistsep">&bull;</span><a href="{{ post.url }}"><span class="postTitle">{{ post.title }}</span></a> {% if post.external-url == nil %}<span class="starlist">&starf;</span>{% endif %}
		</div>
	{% endfor %}
</div>

<div class="atomfeed"> <a href="/atom.xml">ATOM FEED</a></div>