.fira-code {
	font-family: "Fira Code", serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 600px;
	margin: 50px auto 0 auto;
	padding: 0 16px;
	font-size: 1rem;
}

header {
	font-size: 1.5rem;
	padding-bottom: 1rem;
	color: #000000;
}

@media (min-width: 768px) {
	.container {
		font-size: 0.9rem;
		padding: 0;
		/* Rimuove il padding extra su schermi più grandi */
	}
	header {
		font-size: 1.2rem;

	}
}

.intro {
	color: #686868;
}

section p{
	line-height: 1.5rem;
}

a{
	color: rgb(105, 36, 255);
}