.fira-code {
	font-family: "Fira Code", serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

body{
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}

.container{
	width: 600px;
	margin: 50px auto 0 auto;
}

img.headerBanner{
	margin-bottom: 1.2rem;
}

header{
	font-size: 1.1rem;
	padding-bottom: 1rem;
	color: #000000;
}

.intro{
	color: #686868;
}