// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;
  font-size: 2.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
  
}

.masthead-tagline{
  opacity: .8;
  margin: 1rem 0 2rem 0;
}

.masthead-tagline a{
  text-decoration: none;
}

.menu_left{

  display: block;

  a{
    text-decoration: none;
    border: 1px solid;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
  }

}

.menu_right{

  display: block;
  font-size: 0.8rem;

  margin-top: 1rem;

  a{
    border-width: 0 !important;
    color: var(--gray-600);
    text-decoration: none;
    padding-left: 0.5rem;
  }

  a:first-child{
    padding-left: 0;
  }

}

@media (min-width: 30em) {

  .menu_left{
    float: left;
  }

  .menu_right{
    margin-top: 0;
    float: right;
    font-size: var(--body-font-size);
  }

 
}
