// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;
  font-size: 2.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }



}

.masthead-tagline{
  opacity: .8;
  margin: 1rem 0 2rem 0;
}

.masthead-tagline a{
  text-decoration: none;
}

.menu a{
  text-decoration: none;
  border: 1px solid;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  margin-right: 0.5rem;
}