<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Alessandro Melandri</title>
    <meta name="description" content="IT Project Manager, former IBM WebSphere Commerce specialist">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <article>
      <h1 id="tufte-css">Alessandro Melandri </h1>
      <p class="subtitle">{{ page.title }} </p>
      
      <section>
        {{ page.date | date_to_long_string }} - <a href="/">home page</a>
      </section>

      <section>
        {{ page.content }}
      </section>
      <section>
        Questa pagina non contiente trackers. &Egrave; ospitata su Github ed &egrave; stata costruita usando <a href="https://github.com/edwardtufte/tufte-css">Tufte css</a>
      </section>
    </article>
  </body>
</html>
